html,body{
  margin:0 auto;
  font-family:Arial;
}
.container{
  display:flex;
  padding:10px;
  flex-wrap:wrap;
  background-color:gray;
}
.center{
  justify-content:center;
  align-items:center;
}

nav{
  background-color:#B22222;
}
nav a{
  color:black;
  padding:10px;
  flex:1;
  text-decoration:none;
  text-align:center;
}
nav a:hover{
  color:white;
}
.subbanner{
  background-color:rgb(255,255,100);
}
#banner{
  background-color:red;
  color:white;
}
#footer{
  background-color:#B22222;
  color:white;
  left: 0;
  right: 0;
  bottom:0px;
}
#home{
	background-image:url(i/brickwall.jpeg);
	background-size:cover;
	background-repeat:no-repeat;
}
.card{
  flex:1;
  margin:10px;
  padding:10px;
  border:1px solid gray;
  text-align:center;
}

.highlight{
  font-style:italic;
  color:blue;
}
.heading{
  font-weight:bold;
}
.button{
  text-decoration:none;
  background-color:blue;
  color:white;
  border-radius:4px;
  padding:6px;
  box-shadow:2px 2px 2px black;
  cursor: pointer;
}
.button:hover{
  background-color:cornflowerblue;
}
.movie h3, .movie p{
  font-size:18pt;
}
.divider{
  clear:both;
}
#leftPanel{
  flex:1;
  max-height:600px;;
  overflow-y:scroll;
}
.left{
  float:left;
  margin:20px;
  box-shadow:2px 2px 2px gray;  
}

#output{
  flex-wrap:wrap;
}
.fitted{
  max-width:200px;
  min-width:200px;
  border-radius:5px;
  box-shadow:2px 2px 2px gray;
  background-color:tan;
}
.map{
  margin:4px;
  max-width:96%;
  height:350px;
  border-radius:10px;
}
.small{
  font-size:3px;
}
